.main{
    margin: 0;
    &__tweets{
        width: 151px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 22px 0 15px 31px;
        &--name{
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            margin-bottom: 2px;
        }   
        &--number{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #000000;
            opacity: 0.6;
        }
    }
    
    &__user--back{
        width: 910px;
        height: 350px;
        background-image: url('../../../Assets//Images/userbackgroundimg.png');
        background-repeat: no-repeat;
        & img{
            border-radius: 50%;
            margin-top: 202px;
            margin-right: 600px;
            margin-left: 26px;
        }
        
    }
    &__user--editbtn{
        font-family: 'Roboto';
        font-weight:500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        border-radius: 50px;
        padding: 10px 15px;
    }
    &__user--information{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-top: 10px;
        &-username{
            display: flex;
            flex-direction: column;
            & h3{
                font-family:'Roboto';
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #000000;
                
            }
            & p{
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
                opacity: 0.6;
            }
        }
        &-job{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            margin-top: 15px;
            & a{
                text-decoration: none;
            }
        }
    }
    &__list{
        display: flex;
        align-items: center;
        margin-left: 25px;
        margin-top: 15px;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-right: 29px;
        &:nth-child(2) a{
            text-decoration: none;
            color: #1DA1F2;
            cursor: pointer;
            
        }
        &:last-child{
            margin-right: 0;
        }
        &--text{
            font-family:'Roboto';
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            opacity: 0.6;
            margin-left: 5px;
            
        }
        
    }
    &__follows{
        width: 234px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 25px;
        margin-top: 15px;
        &--following{
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            opacity: 0.6;
            & p{
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #000000;
                margin-right: 5px;
                opacity: 1;
            }
        }
        &--follow{
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            opacity: 0.6;
            & p{
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #000000;
                margin-right: 5px;
                opacity: 1;
            }
        }
    }
}